
# Dataset Folder
data/raw

# Utils Imports
__pycache__

# Outputs - Predictions, model architecture files, model checkpoints, images, etc.
gt_segs/
pred_segs/
pred_dim_logreg/
pred_voxel_logreg/
figures/
*.onnx
*.pth